/* =========== GLOBAL AND COMPONENTS STYLES & EFFECTS ==========*/

*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

body {
  background-color: #282c34;
  color: #f6faff;
  font-family: arial;
  height: calc(100vh - 70px);
}

/*
      CLASE GRAL PARA CONTENEDORES FLEX 
    - Definimos display flex para la nav.
    - Alineamos el contenido verticalmente (align-items).
*/
.flex-container {
  display: flex;
  align-items: center;
}

a {
  padding-left: 1rem;
  padding-right: 2rem;
  color: inherit;
  text-decoration: none;
}

img:hover {
  cursor: pointer;
}

li:hover {
  color: #cccccc;
  transition: color 0.3s;
}

.light {
  background-color: #707793;
}

.green {
  color: #3bb99b;
}

/* =========== TOP NAVIGATION BAR ==========*/

.navbar {
  width: 100%;
  height: 70px;
  /* 

    - Definimos space-between: 
    El primer elemento se pega al inicio, el último elemento al final, y los elementos hijos se distribuyen de manera equitativa.

    - Aplica a la topnav y footer

    */
  justify-content: space-between;
  font-size: 1rem;
}

.round-img {
  width: 2.5rem;
  border-radius: 100%;
}

.navbar img:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* =========== SEARCH SECTION ==========*/

.search-container {
  display: flex;
  flex-direction: column; /* Renderizamos los items verticalmente, y no horizontalmente. */
  align-items: center;
  width: 100%;
  font-size: 11px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 5em;
  font-weight: 400;
  letter-spacing: 1.8rem;
  margin-bottom: 1.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 60px;
  border-radius: 66px;
  background-color: #fff;
}

input {
  height: 100%;
  flex-grow: 1; /* Utilizamos flex-grow para ocupar la totalidad del contenedor.*/
  border: none;
  background: transparent;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

.search-icon {
  padding-left: 1rem;
}

.mic-icon {
  padding: 0 1rem;
}

.btn {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  font-size: 2em;
  color: #707070;
}

.btn:hover {
  cursor: pointer;
  background-color: #dfdfdf;
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #c5c5c5;
  transition: background-color 0.3s;
}

/* =========== FOOTER BAR ==========*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
